!================= {{ DEVICE_TYPE }} CONFIG =============================
!   {{ DEVICE_MODEL }} CONFIGURAITON SCRIPT FOR {{ORG_NAME }}
!   BRANCH NAME = {{ BRANCH_NAME }} , BRANCH ID = {{ BRANCH_ID }}
!========================================================================

hostname {{ HOSTNAME }}

no service pad
service timestamps debug datetime msec
service timestamps log datetime msec show-timezone
service password-encryption
service tcp-keepalives-in
service tcp-keepalives-out
service sequence number
no ip finger 
no service dhcp
no service config
clock timezone India 5 30
ip domain-name {{ VTP_DOMAIN_NAME }}
vtp mode transparent
spanning-tree mode rapid-pvst
software auto-upgrade enable
!
memory reserve console 4096
!
logging buffered warnings
logging buffered 4096
logging console informational
logging monitor informational
logging trap informational
logging history informational
logging source-interface vlan {{ MGMG_VLAN_ID }}
logging host {{ SYSLOG_SERVER_1_IP }}
logging host {{ SYSLOG_SERVER_2_IP }}
!
clock timezone IST 5 30
!
password encryption aes
!
!
aaa common-criteria policy PASSWORD_POLICY
 min-length 8
 max-length 64
 numeric-count 1
 upper-case 1
 lower-case 1
 special-case 1
 char-changes 4
!
username {{ ADMIN_USERNAME }} privilege 1 common-criteria-policy PASSWORD_POLICY algorithm-type sha256 secret {{ ADMIN_SECRET }}
enable common-criteria-policy PASSWORD_POLICY algorithm-type sha256 secret level 15  {{ ENABLE_SECRET }}
!
aaa new-model
!
no ip source-route
!
tacacs server TACACS_{{ TACACS_SRV_1_IP }}
 address ipv4 {{ TACACS_SRV_1_IP }}
 key {{ TACACS_PSK }}
 timeout 4
!
tacacs server TACACS_{{ TACACS_SRV_2_IP }}
 address ipv4 {{ TACACS_SRV_2_IP }}
 key {{ TACACS_PSK }}
 timeout 4
!
!
aaa group server tacacs+ TACACS_GRP
 server name TACACS_{{ TACACS_SRV_1_IP }}
 server name TACACS_{{ TACACS_SRV_2_IP }}
!
!
ip tacacs source-interface vlan {{ MGMT_VLAN_ID }}
!
radius server RADIUS_{{ RADIUS_SRV_1_IP }}
 address ipv4 {{ RADIUS_SRV_1_IP }} auth-port 1812 acct-port 1813
 timeout 4
 retransmit 3
 automate-tester username dummy ignore-acct-port probe-on
  pac key {{ RADIUS_PSK }}
!
radius server RADIUS_{{ RADIUS_SRV_2_IP }}
 address ipv4 {{ RADIUS_SRV_2_IP }} auth-port 1812 acct-port 1813
 timeout 4
 retransmit 3
 automate-tester username dummy ignore-acct-port probe-on
  pac key {{ RADIUS_PSK }}
!
ip radius source-interface vlan {{ MGMT_VLAN_ID }}
!
aaa group server radius RADIUS_GRP
 server name RADIUS_{{ RADIUS_SRV_1_IP }}
 server name RADIUS_{{ RADIUS_SRV_2_IP }}
 ip radius source-interface vlan {{ MGMT_VLAN_ID }}
!
aaa authentication login default local
aaa authentication login TACACS_AUTHEN group TACACS_GRP local
aaa authentication enable default enable
aaa authentication dot1x default group RADIUS_GRP
aaa authorization config-commands
aaa authorization exec default local
aaa authorization exec TACACS_AUTHOR group TACACS_GRP local if-authenticated
aaa authorization commands 15 TACACS_CMDS group TACACS_GRP local if-authenticated
aaa authorization network default group RADIUS_GRP
aaa authorization network dnac-cts-list group RADIUS_GRP
aaa accounting update newinfo periodic 2880
aaa accounting identity default start-stop group RADIUS_GRP
aaa accounting exec default start-stop group TACACS_GRP
aaa accounting commands 15 default start-stop group TACACS_GRP
aaa accounting network default start-stop group radius
aaa accounting system default start-stop group radius
aaa authorization console
aaa login display number-failures
aaa login success-track-conf-time 1
!         
!
login block-for 120 attempts 3 within 30
login on-failure log every 1
login on-success log every 1
login delay 3
!
aaa server radius dynamic-author
 client {{ RADIUS_SRV_1_IP }} server-key 7 {{ RADIUS_PSK }}
 client {{ RADIUS_SRV_2_IP }} server-key 7 {{ RADIUS_PSK }}
!
ip name-server {{ DNS_SERVER_IP_1 }} {{ DNS_SERVER_IP_2 }}
ip domain lookup source-interface vlan {{ MGMT_VLAN_ID }}
ip domain name {{ DOMAIN_NAME }}
!
aaa session-id common
!
!
archive
 log config
  logging enable
  notify syslog contenttype plaintext
  hidekeys
!
!
interface vlan {{ MGMG_VLAN_ID }}
 description ----> MGMT
 ip address {{ MGMT_VLAN_IP }} {{ MGMT_VLAN_MASK }}
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
no ip routing
ip default-gateway {{ MGMT_VLAN_GW }}
!
ip access-list standard HTTP_ACL
 100 deny any
!
no ip http server
no ip http secure-server
ip http access-class ipv4 HTTP_ACL
!
! 
errordisable recovery cause all
!
!
crypto key generate rsa modulus 4096 label SSH-4096-RSA-KEY
ip ssh logging events
ip ssh version 2
ip ssh time-out 60
ip ssh authentication-retries 3
ip ssh rsa keypair-name SSH-4096-RSA-KEY
ip ssh server algorithm authentication keyboard
ip ssh server algorithm kex ecdh-sha2-nistp521 ecdh-sha2-nistp384
ip ssh server algorithm hostkey rsa-sha2-512 rsa-sha2-256
ip ssh server algorithm encryption aes256-gcm aes256-ctr
ip ssh server algorithm mac hmac-sha2-512 hmac-sha2-256
ip ssh server algorithm publickey ecdsa-sha2-nistp521 ecdsa-sha2-nistp384 rsa-sha2-512
ip ssh source-interface Vlan {{ MGMG_VLAN_ID }}
!
ip access-list standard MGMT_ACL
 10 permit 10.0.0.0 0.255.255.255 log
 20 permit 172.16.0.0 0.0.31.255 log
 39 permit 192.168.0.0 0.0.255.255 log
 100 deny any log
!
!
kron occurrence one-month at 11:59 1 recurring
 policy-list save
!
kron occurrence Backup at 12:00 1 recurring
 policy-list CONFIGURATION_BACKUP
!
kron policy-list save
 cli write
!
kron policy-list CONFIGURATION_BACKUP
 cli archive config
!
!
ip access-list standard SNMP_ACL
 permit host {{ SNMP_SERVER_IP_1 }} log
!
snmp-server trap-source vlan {{ MGMG_VLAN_ID }}
snmp-server location {{ SNMP_LOCATION }}
snmp-server group {{ SNMP_V3_GROUP }} v3 priv access SNMP_ACL
snmp-server user {{ SNMP_V3_USERNAME }} {{ SNMP_V3_GROUP }} v3 auth sha {{ SNMP_V3_KEY }} priv aes 128 {{ snmp_v3_key }}
snmp-server host {{ SNMP_SERVER_IP_1 }} version 3 priv {{ SNMP_V3_USERNAME }}
!
snmp ifmib ifindex persist
snmp mib flash cache
!
!         
privilege exec level 7 copy running-config
privilege exec level 7 copy
privilege exec level 7 verify
privilege exec level 7 traceroute
privilege exec level 7 ping ip
privilege exec level 7 ping
privilege exec level 15 configure terminal
privilege exec level 15 configure
privilege exec level 7 show ip route
privilege exec level 7 show ip
privilege exec level 7 show processes
privilege exec level 7 show running-config
privilege exec level 7 show configuration
privilege exec level 7 show logging
privilege exec level 7 show
privilege exec level 7 clear counters
privilege exec level 7 clear
!
!
ip access-list extended WEB_AUTH_REDIRECT
 10 deny tcp any host {{ RADIUS_SRV_1_IP }} eq 8443
 20 deny tcp any host {{ RADIUS_SRV_2_IP }} eq 8443
 30 deny udp any any eq 53
 40 deny udp any any eq 67
 50 permit ip any any
!
banner exec ^


|===============================  N O T I C E  ==============================
|
|
|                YOU ARE LOGGED IN to {{ ORG_NAME }}'S DEVICE
|
|
|          ------>>   $(hostname) on line-VTY/TTY $(line)  <<-------
|
|
|
|         *** ACCESS TO THIS SYSTEM IS PROHIBITED UNLESS AUTHORISED ***
|
|        If you are not authorised please disconnect now. Any attempt for
|        unauthorized access will be logged and appropriate legal action
|        will be taken.
|
|
|============================================================================


^
!
banner login ^


|============================================================================
|
|                            W A R N I N G
|                            =============
|
|                        READ BEFORE PROCEEDING
|
|
|         THIS SYSTEM IS THE PROPRITORY OF {{ ORG_NAME }}.
|
|         THIS SYSTEM IS FOR AUTHORISED USERS ONLY.
|         UNAUTHORIZED ACCESS IS PROHIBITED.
|
|         YOUR ACCESS IS MONITORED FOR COMPLIANCE TO IT POLICY.
|
|         UNAUTHORIZED ACCESS WILL RESULT IN ACTION AS PER IT POLICY AND LAW
|
|============================================================================


^
!
!
!
line con 0
 exec-timeout 5 0
 logging synchronous
!
line vty 0 15
 access-class MGMT_ACL in vrf-also
 authorization commands 15 TACACS_CMDS
 authorization exec TACACS_AUTHOR
 login {{ VTY_PASSWORD }}
 transport preferred none
 transport input ssh
 transport output none
 exec-timeout 5 0
 logging synchronous

!
!
access-list standard NTP_ACL
 10 permit ip {{ NTP_SERVER_IP_1 }}
 20 permit ip {{ NTP_SERVER_IP_2 }}
 100 deny any
!
ntp access-group peer NTP_ACL
ntp server {{ NTP_SERVER_IP_1 }} source vlan {{ MGMT_VLAN_ID }}
ntp server {{ NTP_SERVER_IP_2 }} source vlan {{ MGMT_VLAN_ID }}
!
!
!
!========================== IBNS2.0 =================================
!
service-template CRITICAL_DATA_ACCESS
service-template CRITICAL_VOICE_ACCESS
    voice vlan
! -------------------- CLASS MAP ----------------------------------
class-map type control subscriber match-all AAA_SVR_DOWN_AUTHD_HOST
    match result-type aaa-timeout
    match authorization-status authorized
class-map type control subscriber match-all AAA_SVR_DOWN_UNAUTHD_HOST
    match result-type aaa-timeout
    match authorization-status unauthorized
class-map type control subscriber match-all DOT1X
    match method dot1x
class-map type control subscriber match-all DOT1X_FAILED
    match method dot1x
    match result-type method dot1x authoritative
class-map type control subscriber match-all DOT1X_NO_RESP
    match method dot1x
    match result-type method dot1x agent-not-found
class-map type control subscriber match-all DOT1X_TIMEOUT
    match method dot1x
    match result-type method dot1x method-timeout
    match result-type method-timeout
class-map type control subscriber match-all MAB
    match method mab
class-map type control subscriber match-all MAB_FAILED
    match method mab
    match result-type method mab authoritative
class-map type control subscriber match-any IN_CRITICAL_AUTH
    match activated-service-template CRITICAL_DATA_ACCESS
    match activated-service-template CRITICAL_VOICE_ACCESS
class-map type control subscriber match-none NOT_IN_CRITICAL_AUTH
    match activated-service-template CRITICAL_DATA_ACCESS
    match activated-service-template CRITICAL_VOICE_ACCESS
class-map type control subscriber match-all AUTHC_SUCCESS-AUTHZ_FAIL
    match authorization-status unauthorized
    match result-type success
!
!-------------------- POLICY MAP -----------------------------
!
policy-map type control subscriber DOT1X_MAB_POLICY
    event session-started match-all
        10 class always do-until-failure
            10 authenticate using dot1x priority 10
    event authentication-failure match-first
        5 class DOT1X_FAILED do-until-failure
            10 terminate dot1x
            20 authenticate using mab priority 20
        10 class AAA_SVR_DOWN_UNAUTHD_HOST do-until-failure
            10 clear-authenticated-data-hosts-on-port
            20 activate service-template CRITICAL_DATA_ACCESS
            30 activate service-template CRITICAL_VOICE_ACCESS
            40 authorize
            50 pause reauthentication
        20 class AAA_SVR_DOWN_AUTHD_HOST do-until-failure
            10 pause reauthentication
            20 authorize
        30 class DOT1X_NO_RESP do-until-failure
            10 terminate dot1x
            20 authenticate using mab priority 20
        40 class DOT1X_TIMEOUT do-until-failure
            10 terminate dot1x
            20 authenticate using mab priority 20
        50 class MAB_FAILED do-until-failure
            10 terminate mab
            20 authentication-restart 60
        60 class always do-until-failure
            10 terminate dot1x
            20 terminate mab
            30 authentication-restart 60
    event agent-found match-all
        10 class always do-until-failure
            10 terminate mab
            20 authenticate using dot1x priority 10
    event aaa-available match-all
        10 class IN_CRITICAL_AUTH do-until-failure
            10 clear-session
        20 class NOT_IN_CRITICAL_AUTH do-until-failure
            10 resume reauthentication
    event inactivity-timeout match-all
        10 class always do-until-failure
            10 clear-session
    event authentication-success match-all
        10 class always do-until-failure
            10 activate service-template DEFAULT_LINKSEC_POLICY_SHOULD_SECURE
    event violation match-all
        10 class always do-until-failure
            10 restrict
    event authorization-failure match-all
        10 class AUTHC_SUCCESS-AUTHZ_FAIL do-until-failure
            10 authentication-restart 60
!
!############### INTERFACE TEMPLATES ########################

template FLEX_AP_TEMPLATE
 description ---> AP PORT
 switchport trunk allowed vlan {{ FLEX_AP_ALLOWED_VLANS }}
 switchport trunk native vlan {{ FLEX_AP_MGMT_VLAN_ID }}
 switchport mode trunk
!
template UPLINK_TEMPLATE
 description ---> UPLINK PORT
 switchport mode trunk
 switchport trunk allowed vlan all
!
template DOT1x_TEMPLATE_OPEN
 description ---> ACCESS PORT OPEN AUTH
 dot1x pae authenticator
 dot1x timeout tx-period 7
 dot1x max-reauth-req 2
 mab
 subscriber aging inactivity-timer 60 probe
 access-session control-direction in
 access-session host-mode multi-domain
 access-session port-control auto
 no access-session closed
 authentication periodic
 authentication timer reauthenticate server
 load-interval 60
 storm-control broadcast level 10
 storm-control multicast level 10
 storm-control action trap
 service-policy type control subscriber DOT1X_MAB_POLICY
!
template DOT1x_TEMPLATE_CLOSED
 description ---> ACCESS PORT CLOSED AUTH
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 dot1x pae authenticator
 dot1x timeout tx-period 7
 dot1x max-reauth-req 2
 mab
 subscriber aging inactivity-timer 60 probe
 access-session control-direction in
 access-session host-mode multi-domain
 access-session closed
 access-session port-control auto
 authentication periodic
 authentication timer reauthenticate server
 load-interval 60
 storm-control broadcast level 10
 storm-control multicast level 10
 storm-control action trap
 service-policy type control subscriber DOT1X_MAB_POLICY
!
template ACCESS_TEMPLATE_NOAUTH
 description ---> ACCESS PORT NO AUTH
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
 subscriber aging inactivity-timer 60 probe
 load-interval 60
 storm-control broadcast level 10
 storm-control multicast level 10
 storm-control action trap
 switchport port-security
 switchport port-security maximum 2
 switchport port-security violation restrict

!===== ACCESS_PORT_CONFIG =====
!
interface range Gigabit0/1 - 24
 switchport access vlan XXX
 switchport voice vlan YYY
 source template DOT1x_TEMPLATE_CLOSED
